{% extends 'base.html.twig' %}
{% block navigation %}
{% endblock %} 
{% block pagewrapper %}
    {% set action_title = "Login" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
            {% block otherstuff_lg12 %}

            {% if error %}
                <div class="alert alert-warning">
                {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" class="login-form">        
              <div class="login-wrap">
                  <p class="login-img"><i class="icon_lock_alt"></i></p>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" value="{{ last_username }}" name="_username" id="inputEmail3" placeholder="Email" >
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                      <input type="password" class="form-control" name="_password" id="inputPassword3" placeholder="Password" placeholder="Password">
                  </div>
                  <label class="checkbox">
                      <input type="checkbox" value="_remember_me"> Remember me
                      
                  </label>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  <a class="btn btn-info btn-lg btn-block" href="{{ path('user_registration') }}">Signup</a>
              </div>
            </form>

        {% endblock %}
    {% endembed %}
{% endblock %}